* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.logo__box {
    width: 30px;
    height: 30px;
    animation: move 2s ease-in-out 1s 1 forwards;

}

.logo__box--red {
    background-color: red;
}
.logo__box--blue {
    background-color: blue;
}
.logo__box--green {
    background-color: green;
}
.logo__box--orange {
    background-color: orange;
}



@keyframes move {
    100% {
        transform: translate(50vw, 50vh) scaleX(10) skewY(60deg);
    }
}